*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar{
    width: 100vw;
    height: 5rem;
    background-color: grey;
    opacity: .90 !important;
    text-align: center; 
    display:flex;
    align-items: center;
    justify-content: center;
}

.navbar h1{
    
}

#nav{
    color: white;
}

main{
display: flex;
}

html{
    background-color: black;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #ffb6c1bb;
    z-index: 1;
}

#back-image{
    position: absolute;
    top: 0;
    left: 0;
    filter: blur (60px);
    width: 100vw;
    height: 100vh;
    opacity: .80;
    z-index: 0;
}
 

 .content{
    z-index: 1;
 }

 .section-title {
    
 }

 .experience h1{
    background-color: grey;
    text-align: center;
 }

 .experience{
    margin: 100px 0;
    width: 60%;
 }

 #my-experience{
    border-radius: 30%;
    color: white;
    border: dotted;
 }

 main>div{
    display:flex;
    flex-direction: column;
    align-items: center;
 }


 #skills{
    border-radius: 30%;
    color: white;
    border: dotted;
 }

 #summary{
    margin-top: .5px;
    border-radius: 30%;
    color: white;
    border: dotted;
 }



 #social{
    border-radius: 30%;
    color: white;
    border: dotted;
 }

 #projects{
    margin-top: 1rem;
    border-radius: 30%;
    color: white;
    border: dotted;
 }
    
 .rwanda {
    display: inline-block;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: dotted;
  
    object-fit: cover;
  }
